<nav class="navbar navbar-light" style="background-color: #e3f2fd;">

  <nav class="my-2 my-md-0 mr-md-3">

      <!-- Обычные кнопки -->
      <a class="btn btn-outline-primary" role="button" href="{% url 'home' %}">Новый заказ</a>
      <a class="btn btn-outline-primary" role="button" href="{% url 'orders_list' %}">Список заказов</a>
      <a class="btn btn-outline-primary" role="button" href="{% url 'add_type' %}">Новый тип товара</a>
      <a class="btn btn-outline-primary" role="button" href="{% url 'types_list' %}">Список типов товаров</a>
      <a class="btn btn-outline-primary" role="button" href="{% url 'add_address' %}">Новый адрес</a>
      <a class="btn btn-outline-primary" role="button" href="{% url 'address_list' %}">Список адресов</a>
  </nav>
</nav>